.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f9f9f9;
}

.headerImg {
    height: 40px;
    object-fit: contain;
}

.headerIcon {
    padding: 20px;
    font-size: large;
}